@{
    ViewData["Title"] = "Succ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl py-5 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="article-view row start-xs">
        <div class="col-xs-12">
            <div class="article">
                <h1 class="article-title text-center">CẢM ƠN BẠN ĐÃ ĐẶT HÀNG</h1>
                <div class="article-content">
                    <p class="text-center" style="font-weight: bold; font-size: 18px;">Chúng tôi đã nhận được thông tin của bạn và sẽ liên hệ lại với bạn trong 5-10 phút nữa!</p>
                </div>
            </div>
        </div>
    </div>
</div>



