@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor
@{
    var session = HttpContextAccessor.HttpContext!.Session;
    string jsonbooking = session.GetString(BookingBirthday.Server.Controllers.BookingController.BOOKINGKEY)!;
    var role = session.GetString("role");
    if (jsonbooking != null && role == "Guest")
    {
        var booking = JsonConvert.DeserializeObject<BookingBirthday.Server.Models.PackageModel>(jsonbooking);
        <a href="/Booking" class="nav-item nav-link"><i class="fa fa-gift" aria-hidden="true"></i></a>

    }
    else
    {
        
    }
}