
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <center style="height: 300px; padding-top: 10px;">
            <h1 class="mtext-114 text-success">Đặt Hàng Thành Công!</h1>
            <div class="pt-4 mtext-108">
                <p>Đơn hàng của bạn đang được xác nhận</p>
                <p>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể!</p>
            </div>
        </center>

        <a href="/san-pham">
            Về trang chủ
        </a>
    </div>
</section>