
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section customCSS {
    <style>
        .about ul li{
            list-style-type: disc;
        }

        .about ol > li {
            list-style-type: decimal;
        }
    </style>    
}

<div class="bg0 m-t-23 p-b-23 about">
    <div class="container cl2">
        <span class="mtext-114">Tầm nhìn - sứ mệnh TunaClothes: Nâng tầm thương hiệu Việt</span>
        <img class="py-3 mx-auto d-block" src="/Assets/Client/images/about-1.png" style="width:960px;" />
        <p class="mtext-101 font-italic">Bắt đầu từ thương hiệu thời trang Hi5 ra đời trong năm 2009, trải qua chặng đường phát triển đầy khó khăn, Hi5 được đổi tên thành TunaClothes vào năm 2014 với ước mơ gây dựng một thương hiệu thời trang hàng đầu thế giới.</p>
        <p class="stext-118 p-t-15">
            Từ đó trở đi TunaClothes lớn mạnh không ngừng, đến năm 2016 TunaClothes đã có 38 cửa hàng, chỉ sau 2 năm vào năm 2018 TunaClothes đã có 73 cửa hàng. Đến năm 2019 TunaClothes đã có 82 cửa hàng và tính đến thời điểm hiện tại TunaClothes đã mở rộng được hơn 240 cửa hàng trên toàn quốc.
        </p>
        <img class="py-3 mx-auto d-block" src="/Assets/Client/images/about-2.png" style="width:100%;" />
        <div>
            <span class="mtext-115">SỨ MỆNH CỦA TunaClothes</span>
            <p class="mtext-101">Đưa sản phẩm thời trang Việt có chất liệu tốt, dịch vụ tốt đến tận tay khách hàng tại các vùng, miền Việt Nam và Thế giới.</p>
        </div>
        <div class=" p-t-15">
            <span class="mtext-115">TẦM NHÌN CỦA TunaClothes</span>
            <ol>
                <li class="p-t-12">
                    <span class="mtext-116">NĂM 2025:</span>
                    <ul class="stext-118">
                        <li>Công ty thời trang hàng đầu Đông Nam Á.</li>
                        <li>Cộng đồng TunaClothes có cuộc sống viên mãn, hạnh phúc.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-116">NĂM 2035:</span>
                    <ul class="stext-118">
                        <li>Tập đoàn thời trang hàng đầu thế giới.</li>
                        <li>
                            Mang đến sản phẩm và dịch vụ vượt mong đợi cho khách hàng.
                        </li>
                        <li>
                            Góp phần xây dựng cuộc sống viên mãn, hạnh phúc cho nhân viên.
                        </li>
                        <li>
                            Tác động tích cực đến xã hội thông qua hoạt động kinh doanh và sản xuất.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>

        <div class=" p-t-15">
            <span class="mtext-115">Niềm tin của TunaClothes</span>
            <ul class="stext-118">
                <li>Tất cả các khoản chi đều là chi phí, chỉ có chi cho khách hàng và nhân viên là không phí.</li>
                <li>Tất cả những thành viên của TunaClothes đều đang nỗ lực hết sức và có năng lực để thực hiện mục tiêu chung.</li>
                <li>Mỗi thành viên TunaClothes đều có thể thay đổi khi được trao niềm tin, ghi nhận, hướng dẫn và đào tạo.</li>
            </ul>
            <p class="stext-118">TunaClothes mong muốn mang đến cho toàn bộ khách hàng trên khắp mọi miền tổ quốc Việt Nam những sản phẩm thời trang do chính tay người Việt làm ra. Không phân biệt tầng lớp, không phân biệt giàu nghèo, những khách hàng chưa bao giờ được trải nghiệm dịch vụ mua sắm vượt ngoài mong đợi, ai cũng sẽ được chào đón, tôn trọng khi đến với TunaClothes.</p>
            <p class="stext-118">Chính vì vậy, TunaClothes dày công nghiên cứu chất liệu sản phẩm và cho ra mắt những dòng sản phẩm tối ưu cả về giá cả và chất lượng mang đến cho khách hàng. Cùng với đó, TunaClothes luôn dành phần lớn thời gian để đào tạo văn hóa phục vụ cho toàn bộ nhân viên. Mỗi nhân viên sẽ là 1 đại sứ thương hiệu, mỗi nhân viên sẽ là 1 hình mẫu về văn hóa phục vụ của TunaClothes và trao giá trị tốt nhất đến từng khách hàng.</p>
        </div>

        <div class=" p-t-15">
            <span class="mtext-115">GIÁ TRỊ CỐT LÕI CỦA TunaClothes</span>
            <p class="stext-118">Ở TunaClothes, chúng tôi luôn gìn giữ 6 Giá Trị Cốt Lõi để mọi bước đi đều thêm vững chắc và giàu giá trị.</p>
            <ol>
                <li class="p-t-12">
                    <span class="mtext-101">Đam mê phục vụ khách hàng</span>
                    <ul class="stext-118" style="list-style-type: circle;">
                        <li>Đặt sự hài lòng của khách hàng là ưu tiên số một trong mọi suy nghĩ và hành động của mình.</li>
                        <li>Chủ động, Cười, Chào, Cảm ơn.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-101">Coi mình là gốc rễ của mọi vấn đề</span>
                    <ul class="stext-118">
                        <li>Là một sự lựa chọn để từ đó bạn có sức mạnh thay đổi kết quả.</li>
                        <li>Là bạn đã từ bỏ quyền coi mình là nạn nhân.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-101">Integrity</span>
                    <ul class="stext-118">
                        <li>Hoàn tất lời hứa của mình.</li>
                        <li>Làm đúng, làm đủ theo thiết kế.</li>
                        <li>Khi đã nỗ lực hết sức mà thấy nguy cơ không thể giữ lời thì ngay lập tức thông tin cho những người có liên quan, tìm hiểu tác động, dọn dẹp hậu quả và đưa ra lời hứa mới.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-101">Trung thực</span>
                    <ul class="stext-118">
                        <li>Không lấy, không sử dụng, không nghĩ đến việc chiếm hữu tiền bạc, hàng hoá, tài sản không phải của mình.</li>
                        <li>Báo cáo đúng, đủ trạng thái công việc.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-101">Cầu tiến</span>
                    <ul class="stext-118">
                        <li>Không ngừng học tập và tự hoàn thiện.</li>
                        <li>Sẵn sàng thử nghiệm phương pháp mới, chấp nhận thất bại và tiếp tục hành động.</li>
                        <li>Luôn "Say YES", hành động quyết liệt và tin tưởng sẽ đạt được mục tiêu thách thức.</li>
                    </ul>
                </li>
                <li class="p-t-12">
                    <span class="mtext-101">Yêu thương và hỗ trợ đồng đội</span>
                    <ul class="stext-118">
                        <li>Thành thật quan tâm đến đồng đội, sẵn lòng hỗ trợ, hướng dẫn, động viên để họ hoàn thành tốt công việc. Không làm thay, không bao che.</li>
                        <li>Đứng vào vị trí của người nói để lắng nghe đầy đủ không thành kiến.</li>
                        <li>Nói thẳng, nói thật một cách kịp thời, trực tiếp và xây dựng. Sẵn lòng đóng góp và đón nhận sự đóng góp.</li>
                        <li>Luôn ghi nhận thành quả hoặc nỗ lực dù chưa có thành quả.</li>
                    </ul>
                </li>
            </ol>
        </div>

        <div class="p-t-20">
            <p class="mtext-101 font-italic">Với sứ mệnh đưa TunaClothes thành thương hiệu thời trang toàn cầu, đội ngũ các thành viên TunaClothes cam kết sẽ mang lại sự hài lòng tuyệt đối về sản phẩm cũng như dịch vụ đến tận tay khách hàng.</p>
        </div>
    </div>
</div>