@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top: 200px">
    <section class="bg0 p-t-104 p-b-116">
        <div class="container">
            <div class="flex-w flex-tr justify-content-center">
                <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                    {
                        <form>
                            <h4 class="text-center mb-4">
                                Lấy lại mật khẩu
                            </h4>
                            <h4 class="text-danger">@Html.Raw(TempData["mgss"])</h4>
                            <div class="form-group">
                                <label for="email" class="text-success">Email</label>
                                <div class="input-group">
                                    @Html.TextBox("email", null, new { @class = "form-control", @placeholder = "Nhập email", @aria_describedby = "email-addon", @required = "required" })
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block mt-4">
                                Gửi
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
