@{
    ViewData["Title"] = "Login Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")
<div class="login-container">
    <style>
        .login-container {
            background-image: url('https://cdn.shopify.com/s/files/1/0257/6718/2416/files/Party-Background-green-with-presents.jpg?v=1595051600');
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
    <div class="card" style="border-radius: 30px;width: 500px;">
        <div class="card-body">

            <h2 class="text-center">Đăng Nhập</h2>
            <form asp-action="Login" asp-controller="Account" method="post">
                <div class="form-group">
                    <label class="form-label" for="username" style="
                           margin-left: 0px;">Tài Khoản</label>
                    <input type="text" class="form-control" name="Username" required placeholder="Nhập tài khoản">
                </div>
                <div class="form-group" style="
                     margin-top: 10px;">
                    <label class="form-label" for="password" style="
                           margin-left: 0px;">Mật khẩu</label>
                    <input type="password" class="form-control" name="Password" required placeholder="Nhập mật khẩu">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="
                        margin-top: 10px;">
                        Đăng nhập
                    </button>
                </div>
            </form>
            <div class="text-center">
                <button type="submit" class="btn btn-danger" style="
                        margin-top: 10px; margin-left: 0 auto;">
                    <a href="@ViewBag.Response" style="color: white;">Đăng nhập bằng Google</a>
                </button>
            </div>
            <p class="text-center" style="margin-top: 20px;">Chưa có tài khoản? <a href="/Account/Register"> Đăng ký ngay</a></p>
            <p class="text-center" style="margin-top: 20px;">Quên mật khẩu? <a href="/Account/ForgotPassword">Lấy lại mật khẩu</a></p>
        </div>
    </div>
</div>