@{
    ViewData["Title"] = "Register Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@await Html.PartialAsync("response")

<div class="login-container">
    <style>
        .login-container {
            background-image: url('https://cdn.shopify.com/s/files/1/0257/6718/2416/files/Party-Background-green-with-presents.jpg?v=1595051600');
            background-size: cover;
            background-position: center;
            height: 100vh;
        }
    </style>
    <div class="card" style="top: 50px">
        <div class="card-body">
            <h2 class="text-center">Đăng ký</h2>
            <form method="post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data" style="margin-top: 20px;">
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên người dùng</label>
                        <input type="text" class="form-control" id="Name" name="Name"  required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Email</label>
                        <input type="email" class="form-control" id="Email" name="Email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Tên đăng nhập</label>
                        <input type="text" class="form-control" id="Username" name="Username" required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Số điện thoại</label>
                        <input type="tel" class="form-control" id="Phone" name="Phone"  required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Mật khẩu</label>
                        <input type="password" class="form-control" id="Password" name="Password"  required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Địa chỉ</label>
                        <input type="text" class="form-control" id="Address" name="Address"  required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Xác nhận mật khẩu</label>
                        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required>
                    </div>
                    <div class="mb-3 col">
                        <label class="form-label" style="margin-left: 0px;">Ngày sinh</label>
                        <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" pattern="\d{2}/\d{2}/\d{4}" required>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Giới tính</label>
                        <select name="Gender" id="Gender" class="form-control" style="margin-left: 0px">
                            <option value="Nam" selected>Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="form-group mb-3 col">
                        <label class="form-label" style="
                           margin-left: 0px;">Ảnh đại diện</label>
                        <input class="form-control" style="
                               margin-left: 0px; name="file" type="file" />
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="display: block; margin: 0 auto">
                    Đăng ký
                </button>
            </form>
            <p class="text-center" style="
               margin-top: 20px;">Đã có tài khoản? <a href="/Account/Login">Đăng nhập</a></p>
        </div>
    </div>
</div>