@{
    ViewData["Title"] = "DepositPayment";
}
@await Html.PartialAsync("response")
<div class="text-center" style="margin-top: 200px">
    <h1 class="display-4">Thanh toán VnPay tại <a href="#">Booking Birthday</a></h1>
</div>

<div class="table-responsive container d-flex justify-content-center">
    <form action="/Cart/CreatePaymentUrl" id="frmCreateOrder" method="POST">
        <input type="hidden" name="BookingId" value="@ViewData["BookingId"]">
        <div class="form-group">
            <input type="hidden" name="OrderType" id="ordertype" value="@ViewData["BookingId"]">
        </div>
        <div class="row p-4 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <br />
        <div class="form-group">
            <label for="Name">Tên khách hàng</label>
            <input class="form-control"
                   id="Name"
                   name="Name"
                   type="text"
                   value="@ViewData["Name"]"
                   readonly>
        </div>
        <br />
        <div class="form-group">
            <label for="Amount">Số tiền</label>
            <input class="form-control"
                   id="Amount"
                   name="Amount"
                   type="text"
                   value="@ViewData["Total"]"
                   readonly>
        </div>
        <br />
        <div class="form-group">
            <label for="Description">Nội dung thanh toán</label>
            <textarea class="form-control"
                      cols="20"
                      id="Description"
                      name="Description"
                      rows="2"></textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="width: 250px;
                margin-top: 10px;">
            Thanh toán cọc
        </button>
        </div>

    </form>
</div>