
@{
    ViewData["Title"] = "Payment";
}
@await Html.PartialAsync("response")
<div class="text-center">
    <h1 class="display-4">Thanh toán VnPay tại <a href="#">Booking Birthday</a></h1>
</div>

<div class="table-responsive">
    <form action="/Cart/CreatePaymentUrl" id="frmCreateOrder" method="POST">
        <div class="form-group">
            <label for="ordertype">Type</label>
            <select name="OrderType" id="ordertype" class="form-control">
                <option value="package">Package</option>
                <option value="service">Service</option>
                <option value="both">Package & Service</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="Name">Tên khách hàng</label>
            <input class="form-control"
                   id="Name"
                   name="Name"
                   type="text"
                   value="Code Mega">
        </div>
        <br />
        <div class="form-group">
            <label for="Amount">Số tiền</label>
            <input class="form-control"
                   id="Amount"
                   name="Amount"
                   type="text"
                   value="20000000">
        </div>
        <br />
        <div class="form-group">
            <label for="OrderDescription">Nội dung thanh toán</label>
            <textarea class="form-control"
                      cols="20"
                      id="OrderDescription"
                      name="OrderDescription"
                      rows="2">Thanh toán tại Code Mega</textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary" style="
                margin-left: 10px;">
            Thanh toán (Checkout)
        </button>
    </form>
</div>

