
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr justify-content-center">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                <form>
                    <h4 class="mtext-113 cl2 txt-center p-b-30">
                        Lấy lại mật khẩu
                    </h4>
                    <h4 class="text-danger">@Html.Raw(TempData["mgss"])</h4>
                    <div class="text-success">@ViewBag.Message</div>
                    <div class="bor8 m-t-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-envelope"></span>
                        @Html.TextBox("email", null, new { @class = "stext-111 cl2 plh3 size-116 p-l-62 p-r-30", @placeholder = "Nhập email" })
                    </div>
                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 m-t-20 trans-04 pointer">
                        Gửi
                    </button>
                </form>
                }
            </div>
        </div>
    </div>
</section>