@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form>
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Gửi phản hồi cho chúng tôi
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-user"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtName" name="name" placeholder="Nhập họ tên">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-envelope"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" id="txtEmail" name="email" placeholder="Nhập email">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-phone-handset"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtPhone" name="phone" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-map-marker"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtAddress" name="address" placeholder="Nhập địa chỉ">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-bubble"></span>
                        <textarea class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtContent" name="content" placeholder="Nhập nội dung"></textarea>
                    </div>

                    <button id="btnSend" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Gửi
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-15-lg ">
                <div class="map">
                    @*<div class="size-303" id="google_map" data-map-x="21.004135483885534" data-map-y="105.84207983900919" data-pin="/Assets/Client/images/icons/pin.png" data-scrollwhell="0" data-draggable="1" data-zoom="15"></div>*@
                    <div id="google_map" class="size-304">
                        <div class="map_container size-304">

                            <div id="map" class="size-304">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.733594621142!2d105.840740411713!3d21.003313480558937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac773026b415%3A0x499b8b613889f78a!2zVHLGsOG7nW5nIMSQ4bqhaSBI4buNYyBYw6J5IEThu7FuZyBIw6AgTuG7mWkgLSBOVUNF!5e0!3m2!1svi!2s!4v1702609426983!5m2!1svi!2s" style="border:0;width:100%;height:100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<!-- Map -->

@section jsFooter{
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaOulQACiJzBfqumbsqg_-vKha8fCnL-s"></script>*@
    <script src="/Assets/Client/js/map-custom.js"></script>
    <script src="/Assets/Client/js/controller/contactController.js"></script>
}